<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Mujercitas</title>
</head>
<body>


	<div class="container">
		<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light navbar sticky-top navbar-light bg-light">

				<font face="Kunstler Script" color="black" size="8">Mujercitas - Libreria KatheBooks</font>
			 
		</div>


  <div class="row">
    <div class="col-sm-6">
      <img src="https://i.ibb.co/B26wm5d/6034d7d1f3e0f54a99b2b2bd-Mujercitas-louisa-may-alcott-editorial-alma.jpg" alt="6034d7d1f3e0f54a99b2b2bd_Mujercitas-louisa-may-alcott-editorial-alma" border="0" class="img-fluid">
    </div>
    <div class="col-sm-6">
      <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <font face="Kunstler Script" color="black" size="7">Sinopsis</font>
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body text-justify ">

      	<font face="Cambria" color="black" size="2">
      		Ediciones ALMA

      		Vuelve a todas las librerías Mujercitas la famosa obra de Louisa May Alcott, basada en el texto íntegro de la primera edición de 1868, con el añadido de muchos párrafos que se suprimieron en las versiones posteriores.

		La novela cuenta la historia de las hermanas March, cuatro jovencitas que vivían en un pueblo de Nueva Inglaterra mientras la guerra civil hacía estragos en toda América.

		Han pasado casi ciento cincuenta años desde aquel lejano 1868, pero la complicidad de Meg, Beth, Amy y Jo con las demás mujeres no ha muerto. Es más, autoras de la talla de Simone de Beauvoir, Joyce Carol Oates y Patti Smith han sido admiradoras entusiastas de esas Mujercitas que en sus gestos y palabras resumen el espíritu de una época y aún hoy pueden regalarnos unas hermosas horas de lectura..</font>
        
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <font face="Kunstler Script" color="black" size="7">Precio</font>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body text-justify">
      	<font face="Cambria" color="black" size="2">Q 350.00 C/U</font>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <font face="Kunstler Script" color="black" size="7">Mas Detalles</font>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body text-justify">
      	<font face="Cambria" color="black" size="2">			<div class="col-sm-2">
				<!-- Button trigger modal -->
			<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">
			  Mas informacion...
			</button>

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Libro Mujercitas en KatheBooks</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body text-justify">
			      <div class="container">
<div class="row">
<div class="col-sm-6">
	<img src="https://i.ibb.co/MNc2sQd/6034d7d1f3e0f5d345b2b2c3-9788417430542-Mujercitas-Louisa-May-2.jpg" alt="6034d7d1f3e0f5d345b2b2c3_9788417430542 Mujercitas (Louisa May)_2" border="0" class="img-fluid rounded ">
</div>
<div class="col-sm-6">
	<img src="https://i.ibb.co/FstPGSZ/6034d7d1f3e0f50669b2b2c8-9788417430542-Mujercitas-Louisa-May-5.jpg" alt="6034d7d1f3e0f50669b2b2c8_9788417430542 Mujercitas (Louisa May)_5" border="0" class="img-fluid rounded ">
</div>

</div>

<table class="table">

  <tbody>
    <tr>
      <th scope="row"><font face="Cambria" color="black" size="4">Cantidad Disponible</font></th>
      <td><font face="Cambria" color="black" size="3">10 Libros</font></td>

    </tr>
    <tr>
      <th scope="row"><font face="Cambria" color="black" size="4">Descuentos</font></th>
      <td><font face="Cambria" color="black" size="3">Por tu primera Compra obten un 10% de Descuento</font></td>

    </tr>
    <tr>
      <th scope="row"><font face="Cambria" color="black" size="4">Precio</font></th>
      <td><font face="Cambria" color="black" size="3">Q 350.00 C/U</font></td>

    </tr>
    <tr>
      <th scope="row"><font face="Cambria" color="black" size="4">Cantidad</font></th>
      <td colspan="2"> <div class="form-group">
    <label for="exampleFormControlSelect1"><font face="Cambria" color="black" size="3">Elige que Cantidad Pedir</font></label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
       <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </div></td>

    </tr>
  </tbody>
</table>


<div>
<button type="button" class="btn btn-outline-secondary "><font face="Cambria" color="black" size="4">Comprar</font></button>

			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			        <button type="button" class="btn btn-primary" data-dismiss="modal">Acepto</button>
			      </div>
			    </div>
			  </div>
			</div>
			</div>
</font>
      </div>
    </div>
  </div>

</div>
</div>
</div>
</div>
  





		

		

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>