<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Mas Detalles</title>
</head>
<body>

<div class="container">
<div class="row">
<div class="col-sm-6">
	<img src="https://i.ibb.co/MNc2sQd/6034d7d1f3e0f5d345b2b2c3-9788417430542-Mujercitas-Louisa-May-2.jpg" alt="6034d7d1f3e0f5d345b2b2c3_9788417430542 Mujercitas (Louisa May)_2" border="0" class="img-fluid rounded ">
</div>
<div class="col-sm-6">
	<img src="https://i.ibb.co/FstPGSZ/6034d7d1f3e0f50669b2b2c8-9788417430542-Mujercitas-Louisa-May-5.jpg" alt="6034d7d1f3e0f50669b2b2c8_9788417430542 Mujercitas (Louisa May)_5" border="0" class="img-fluid rounded ">
</div>

</div>

<table class="table">

  <tbody>
    <tr>
      <th scope="row"><font face="Cambria" color="black" size="4">Cantidad Disponible</font></th>
      <td><font face="Cambria" color="black" size="3">10 Libros</font></td>
     
    </tr>
    <tr>
      <th scope="row"><font face="Cambria" color="black" size="4">Descuentos</font></th>
      <td><font face="Cambria" color="black" size="3">Por tu primera Compra obten un 10% de Descuento</font></td>
     
    </tr>
    <tr>
      <th scope="row"><font face="Cambria" color="black" size="4">Precio</font></th>
      <td><font face="Cambria" color="black" size="3">Q 350.00 C/U</font></td>
     
    </tr>
    <tr>
      <th scope="row"><font face="Cambria" color="black" size="4">Cantidad</font></th>
      <td colspan="2"> <div class="form-group">
    <label for="exampleFormControlSelect1"><font face="Cambria" color="black" size="3">Elige que Cantidad Pedir</font></label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
       <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </div></td>
     
    </tr>
  </tbody>
</table>


<div>
<button type="button" class="btn btn-outline-secondary "><font face="Cambria" color="black" size="4">Comprar</font></button>

</div>
<br>
<font face="Cambria" color="black" size="3"><a href="CarritoLibroMujercitas.html">Volver a Inicio</a></font>
      </div>


</div>



<img src="" border="0">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>